/*--Navigation--*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

/*--alignment of logo on left--*/
.navbar-brand img {
    height: 70px;
    padding-left: 45px;
}
/*-- padding is 0 from top and 10px left right--*/
.navbar-nav li {
    padding: 0 10px;
}

    .navbar-nav li a {
        float: right;
        text-align: left;
    }

/*-- # is used because it is an ID--*/
/*-- #00046C is dark blue--*/

#nav-bar ul li a:hover {
    color: #00046C !important;
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

